<h2>1.2.1. Làm quen với giao diện Windows</h2>
<p>Microsoft Windows (hoặc đơn giản là Windows) là tên của một họ hệ điều hành dựa trên giao diện người dùng đồ hoạ được phát triển và được phân phối bởi Microsoft. Nó bao gồm một vài các dòng hệ điều hành, mỗi trong số đó phục vụ một phần nhất định của ngành công nghiệp máy tính.</p>

<h2>1.2.2. Tổ chức thông tin trên máy tính</h2>
<p>Dễ dàng tổ chức thông tin do có Windows Office</p>

<h2>1.2.3. Tùy chỉnh Windows</h2>
<ul>
  <li><p>Do là một hệ điều hành mở nên windows dễ dàng chỉnh sửa sao cho phù hợp với người dùng.</p></li>
  <li><p>Người dùng có thể tùy chỉnh bất cứ thông tin, chức năng của windows.</p></li>
</ul>

<h2>1.2.4. Bộ gõ Tiếng Việt</h2>
<ul>
  <li><p>Hỗ trợ đa ngôn ngữ.</p></li>
  <li><p>Tuy nhiên để có thể sử dụng tiếng việt ta phải tải phần mềm hỗ trợ là unikey hoặc vietkey.</p></li>
</ul>

<h2>1.2.5. Giới thiệu tên và notepad:</h2>
<ul>
  <li><p>Microsoft Paint (trước đây là Paintbrush) là một ứng dụng đồ họa máy tính đơn giản đã được bao gồm trong tất cả các phiên bản của Microsoft Windows.</p></li>
  <li><p>Notepad là một trong những trình soạn thảo văn bản phổ biến nhất. Văn bản được soạn thảo khi lưu lại thành file có phần mở rộng là .txt, không có thẻ định dạng hay bất kỳ kieểu định dạng nào. Điều này làm cho Notepad thích hợp hơn trong việc chỉnh sửa các tệp sử dụng trong môi trường DOS. Notepad có thể chỉnh sửa những tệp thuộc hầu hết định dạng. Mặc dù vậy, Notepad không có khả năng chỉnh sửa được những tệp Unix một cách chính xác.</p></li>
</ul>

<h2>1.2.6. An toàn thông tin</h2>
<p>Khi dùng hệ điều hành windows thì người sử dụng sẽ được phần mềm windows defender bảo vệ khỏi virus xâm nhập từ bên ngoài.</p>

<h2>1.2.7. Khai thác mạng và Internet</h2>
<ul>
  <li><p>Khi cài đặt hệ điều hành windows thì ta luôn có sãn phần mềm internet explorer giúp chúng ta lướt web một cách dễ dàng.</p></li>
  <li><p>Tùy chỉnh hệ thống mạng của máy tính mà bạn đang sử dụng.</p></li>
</ul>

<h2>1.2.8. Một phần mềm tiện ích</h2>
