<h4><p>Chúng ta có 4 phương pháp thống kê, đó là</p></h4>
<ul>
  <li><p>Phương pháp xử lí số liệu</p></li>
  <li><p>Phương pháp điều tra chọn mẫu</p></li>
  <li><p>Phương pháp nghiên cứu mối liên kết giữa các đối tượng</p></li>
  <li><p>Phương pháp dự đoán</p></li>
</ul>

<h4>3.3.1. Phương pháp xử lí số liệu:</h4>
<p>Số liệu được thu thập thường rất nhiều và hỗn độn, các dữ liệu đó chưa đáp ứng được cho quá trình nghiên cứu. Để có hình ảnh tổng quát về tổng thể nghiên cứu, số liệu thu thập phải được xử lý tổng hợp, trình bày, tính toán các số đo; kết quả có được sẽ giúp khái quát được đặc trưng của tổng thể.</p>
<p>Nghiên cứu các hiện tượng trong hoàn cảnh không chắc chắn: Trong thực tế, có nhiều hiện tượng mà thông tin liên quan đến đối tượng nghiên cứu không đầy đủ mặc dù người nghiên cứu đã có sự cố gắng. Ví dụ như nghiên cứu về nhu cầu của thị trường về một sản phẩm ở mức độ nào, tình trạng của nền kinh tế ra sao, để nắm được các thông tin này một cách rõ ràng quả là một điều không chắc chắn.</p>

<h4>3.3.2. Phương pháp điều tra chọn mẫu:</h4>
<p>Trong một số trường để nghiên cứu toàn bộ tất cả các quan sát của tổng thể là một điều không hiệu quả, xét cả về tính kinh tế (chi phí, thời gian) và tính kịp thời, hoặc không thực hiện được. Chính điều này đã đặt ra cho thống kê xây dựng các phương pháp chỉ cần nghiên cứu một bộ phận của tổng thể mà có thể suy luận cho hiện tượng tổng quát mà vẫn đảm bảo độ tin cậy cho phép. Đó là phương pháp điều tra chọn mẫu.</p>

<h4>3.3.3. Phương pháp nghiên cứu mối liên kết giữa các đối tượng:</h4>
<p>Giữa các đối tượng thông thường có mối liên kết với nhau.</p>
<p>Ví dụ: Mối liên hệ giữa chi tiêu và thu nhập; Mối liên hệ giữa lượng vốn vay và các yếu tố tác động đến lượng vốn vay như chi tiêu, thu nhập, trình độ học vấn; Mối liên hệ tốc độ phát triển với tốc độ phát triển của các ngành, lạm phát, tốc độ phát triển dân số… Sự hiểu biết về mối liên hệ giữa các hiện tượng rất có ý nghĩa, phục vụ cho quá trình dự đoán.</p>

<h4>3.3.4. Phương pháp dự đoán:</h4>
<p>Dự đoán là công việc cần thiết trong tất cả lĩnh vực hoạt động. Trong hoạt động dự đoán người ta có thể chỉ ra thành nhiều loại:</p>
<ol>
  <li><p>Dự đoán dựa vào định lượng và dựa vào định tính. Tuy nhiên, trong thống kê chúng ta chủ yếu xem xét về mặt định lượng với mục đích cung cấp cho những nhà quản lý có cái nhìn mang tính khoa học hơn và cụ thể hơn trước khi ra quyết định phù hợp.</p></li>
  <li>
    <p class="lead">Dự đoán dựa vào nội suy và dựa vào ngoại suy:</p>
    <ul>
      <li><p>Dự đoán nội suy là chúng ta dựa vào bản chất của hiện tượng để suy luận. Ví dụ như chúng ta xem xét mối liên hệ giữa lượng sản phẩm sản xuất ra phụ thuộc các yếu tố đầu vào như vốn, lao động và trình độ khoa học kỹ thuật.</p></li>
      <li><p>Dự đoán dựa vào ngoại suy là chúng ta chỉ quan sát sự biến động của hiện tượng trong thực tế, tổng hợp lại thành quy luật và sử dụng quy luật này để suy luận, dự đoán sự phát triển của hiện tượng. Ví dụ như để đánh giá kết quả hoạt động của một công ty người ta xem xét kết quả hoạt động kinh doanh của họ qua nhiều năm.</p></li>
    </ul>
  </li>
</ol>
<p>Ngoài ra, người ta còn có thể phân chia dự báo thống kê ra thành nhiều loại khác</p>
