<% provide :title, "3.4 Giới thiệu các công cụ thống kê: thống kê bằng excel" %>
<h4>Các hàm thống kê trong Excel</h4>
<ul>
  <li>
    <h5><p>AVEDEV (number1, number2, ...): Tính trung bình độ lệch tuyệt đối các điểm dữ liệu theo trung bình của chúng. Thường dùng làm thước đo về sự biến đổi của tập số liệu.</p></h5>
  </li>
  <li>
    <h5><p>AVERAGE (number1, number2, ...): Tính trung bình cộng.</p></h5>
  </li>
  <li>
    <h5><p>AVERAGEA (number1, number2, ...): Tính trung bình cộng của các giá trị, bao gồm cả những giá trị logic.</p></h5>
  </li>
  <li>
    <h5><p>AVERAGEIF (range, criteria1): Tính trung bình cộng của các giá trị trong một mảng theo một điều kiện.</p></h5>
  </li>
  <li>
    <h5><p>AVERAGEIFS (range, criteria1, criteria2, ...): Tính trung bình cộng của các giá trị trong một mảng theo nhiều điều kiện.</p></h5>
  </li>
  <li>
    <h5><p>COUNT (value1, value2, ...): Đếm số ô trong danh sách.</p></h5>
  </li>
  <li>
    <h5><p>COUNTA (value1, value2, ...): Đếm số ô có chứa giá trị (không rỗng) trong danh sách.</p></h5>
  </li>
  <li><h5><p>COUNTBLANK (range): Đếm các ô rỗng trong một vùng.</p></h5></li>
  <li>
    <h5><p>COUNTIF (range, criteria): Đếm số ô thỏa một điều kiện cho trước bên trong một dãy. Trên thực tế hàm COUNTIF là một trong những hàm được sử dụng nhiều trên Excel.</p></h5>
  </li>
  <li>
    <h5><p>COUNTIFS (range1, criteria1, range2, criteria2, …): Đếm số ô thỏa nhiều điều kiện cho trước.</p></h5>
  </li>
  <li>
    <h5><p>DEVSQ (number1, number2, ...): Tính bình phương độ lệch các điểm dữ liệu từ trung bình mẫu của chúng, rồi cộng các bình phương đó lại.</p></h5>
  </li>
  <li>
    <h5><p>FREQUENCY (data_array, bins_array): Tính xem có bao nhiêu giá trị thường xuyên xuất hiện bên trong một dãy giá trị, rồi trả về một mảng đứng các số. Luôn sử dụng hàm này ở dạng công thức mảng.</p></h5>
  </li>
  <li>
    <h5><p>GEOMEAN (number1, number2, ...): Trả về trung bình nhân của một dãy các số dương. Thường dùng để tính mức tăng trưởng trung bình, trong đó lãi kép có các lãi biến đổi được cho trước.</p></h5>
  </li>
  <li>
    <h5><p>HARMEAN (number1, number2, ...): Trả về trung bình điều hòa (nghịch đảo của trung bình cộng) của các số.</p></h5>
  </li>
  <li>
    <h5><p>KURT (number1, number2, ...): Tính độ nhọn của tập số liệu, biểu thị mức nhọn hay mức phẳng tương đối của một phân bố so với phân bố chuẩn.</p></h5>
  </li>
  <li>
    <h5><p>LARGE (array, k): Trả về giá trị lớn nhất thứ k trong một tập số liệu.</p></h5>
  </li>
  <li>
    <h5><p>MAX (number1, number2, ...): Trả về giá trị lớn nhất của một tập giá trị. Cùng với việc tính giá trị lớn nhất chúng ta có thể sử dụng hàm MIN để tính giá trị nhỏ nhất.</p></h5>
  </li>
  <li>
    <h5><p>MAXA (number1, number2, ...): Trả về giá trị lớn nhất của một tập giá trị, bao gồm cả các giá trị logic và text.</p></h5>
  </li>
  <li>
    <h5><p>MEDIAN (number1, number2, ...): Tính trung bình vị của các số.</p></h5>
  </li>
  <li>
    <h5><p>MIN (number1, number2, ...): Trả về giá trị nhỏ nhất của một tập giá trị.</p></h5>
  </li>
  <li>
    <h5><p>MINA (number1, number2, ...): Trả về giá trị nhỏ nhất của một tập giá trị, bao gồm cả các giá trị logic và text.</p></h5>
  </li>
  <li>
    <h5><p>MODE (number1, number2, ...): Trả về giá trị xuất hiện nhiều nhất trong một mảng giá trị.</p></h5>
  </li>
  <li>
    <h5><p>PERCENTILE (array, k): Tìm phân vị thứ k của các giá trị trong một mảng dữ liệu.</p></h5>
  </li>
  <li>
    <h5><p>PERCENTRANK (array, x, significance): Trả về thứ hạng (vị trí tương đối) của một trị trong một mảng dữ liệu, là số phần trăm của mảng dữ liệu đó.</p></h5>
  </li>
  <li>
    <h5><p>PERMUT (number, number_chosen): Trả về hoán vị của các đối tượng.</p></h5>
  </li>
  <li>
    <h5><p>QUARTILE (array, quart): Tính điểm tứ phân vị của tập dữ liệu. Thường được dùng trong khảo sát dữ liệu để chia các tập hợp thành nhiều nhóm…</p></h5>
  </li>
  <li>
    <h5><p>RANK (number, ref, order): Tính thứ hạng của một số trong danh sách các số; hàm RANK được sử dụng nhiều khi người dùng cần xếp thứ hạng cho dữ liệu của mình.</p></h5>
  </li>
  <li>
    <h5><p>SKEW (number1, number2, ...): Trả về độ lệch của phân phối, mô tả độ không đối xứng của phân phối quanh trị trung bình của nó.</p></h5>
  </li>
  <li>
    <h5><p>SMALL (array, k): Trả về giá trị nhỏ nhất thứ k trong một tập số.</p></h5>
  </li>
  <li>
    <h5><p>STDEV (number1, number2, ...): Ước lượng độ lệch chuẩn trên cơ sở mẫu.</p></h5>
  </li>
  <li>
    <h5><p>STDEVA (value1, value2, ...): Ước lượng độ lệch chuẩn trên cơ sở mẫu, bao gồm cả những giá trị logic.</p></h5>
  </li>
  <li>
    <h5><p>STDEVP (number1, number2, ...): Tính độ lệch chuẩn theo toàn thể tập hợp.</p></h5>
  </li>
  <li>
    <h5><p>STDEVPA (value1, value2, ...): Tính độ lệch chuẩn theo toàn thể tập hợp, kể cả chữ và các giá trị logic.</p></h5>
  </li>
  <li>
    <h5><p>VAR (number1, number2, ...): Trả về phương sai dựa trên mẫu.</p></h5>
  </li>
  <li>
    <h5><p>VARA (value1, value2, …): Trả về phương sai dựa trên mẫu, bao gồm cả các trị logic và text.</p></h5>
  </li>
  <li>
    <h5><p>VARP (number1, number2, ...): Trả về phương sai dựa trên toàn thể tập hợp.</p></h5>
  </li>
  <li>
    <h5><p>VARPA (value1, value2, …): Trả về phương sai dựa trên toàn thể tập hợp, bao gồm cả các trị logic và text.</p></h5>
  </li>
  <li>
    <h5><p>TRIMMEAN (array, percent): Tính trung bình phần trong của một tập dữ liệu, bằng cách loại tỷ lệ phần trăm của các điểm dữ liệu ở đầu và ở cuối tập dữ liệu.</p></h5>
  </li>
</ul>
