<h4><p>Thống kê là một hệ thống các phương pháp (thu thập, tổng hợp, trình bày số liệu và tính toán các đặc trưng của đối tượng nghiên cứu) nhằm phục vụ cho quá trình phân tích, dự đoán và ra quyết định.</p></h4>
