<% provide :title, "3.2 Chức năng của thống kê" %>
<h4><p>Thống kê được chia ra làm 2 lĩnh vực, đó là: thống kê mô tả và thống kê suy luận.</p></h4>
<h4><p>Do đó, mỗi lĩnh vực có riêng một chức năng của nó. Tổng hợp 2 chức năng của 2 lĩnh vực này, ta sẽ được chức năng của thống kê.</p></h4>

<ul>
  <li>
    <h4>Thống kê mô tả (Descriptive statistics)</h4>
    <ul>
      <li><p>các phương pháp liên quan đến việc thu thập số liệu, tóm tắt, trình bày, tính toán và mô tả các đặc trưng khác nhau để phản ánh một cách tổng quát đối tượng nghiên cứu.</p></li>
      <%= image_tag ("/images/d2.png"), class: "img-responsive" %>
    </ul>
  </li>
  <li>
    <h4>Thống kê suy luận (Inferential statistics)</h4>
    <ul>
      <li><p>là bao gồm các phương pháp ước lượng các đặc trưng của tổng thể, phân tích mối liên hệ giữa các hiện tượng nghiên cứu, dự đoán hoặc ra quyết định trên cơ sở thu thập thông tin từ kết quả quan sát mẫu.</p></li>
    </ul>
  </li>
</ul>
