<% provide :title, "Hệ thống cơ sở dữ liệu Quốc gia" %>
<p>Hệ thống cơ sở dữ liệu Quốc gia được xây dựng với mục đích là tìm hiểu, đây là công cụ quan trọng để ra các quyết sách phát triển đô thị ở cấp Quốc gia và địa phương.</p>
<p>Hệ thống sử dụng GIS (Hệ thống thông tin địa lý) giúp các nhà lãnh đạo và quản lý có được đầy đủ thông tin chính xác và được phân tích kỹ lưỡng đảm bảo đạt hiểu quả cao, áp dụng phương pháp quy hoạch vào quản lý đô thị.</p>
<p>Dựa vào các thống tin được cung cấp về đô thị Quốc gia (như “Diện tích đất đô thị”, “Mật độ dân số nội thành”, “tỷ lệ diện tích đất giao thông/diện tích đất đô thị”),… là cơ sở để đưa ra các quyết định xây dựng những hướng đi, kế hoạch nhằm phát triển đô thị Việt Nam.</p>
<p>Để có thể hiểu và sử dụng tốt hệ thống chúng ta cần lắm rõ các kiến thức cơ bản về công nghệ thông tin bao gồm: kiến thức máy tính, kiến thức cơ sở dữ liệu, kiến thức thống kê, kiến thức về GIS. Tài liệu này sẽ đem lại một lượng lớn các kiến thức cần thiết đi kèm với phần thực hành giúp chúng ta hiểu biết sâu hơn và vẫn dụng chính xác vào thực tế.</p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jo7j0dmqsXg" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= image_tag ("/images/home.png"), class: "img-responsive" %>
  </div>
</div>
