<h4>4.1.1. GIS là gì:</h4>
<p>Hệ Thông tin địa lý (GIS) là một công cụ máy tính để lập bản đồ và phân tích các sự vật, hiện tượng thực trên trái đất. Công nghệ GIS kết hợp các thao tác cơ sở dữ liệu thông thường (như cấu trúc hỏi đáp) và các phép phân tích thống kê, phân tích địa lý, trong đó phép phân tích địa lý và hình ảnh được cung cấp duy nhất từ các bản đồ. Những khả năng này phân biệt GIS với các hệ thống thông tin khác và khiến cho GIS có phạm vi ứng dụng rộng trong nhiều lĩnh vực khác nhau (phân tích các sự kiện, dự đoán tác động và hoạch định chiến lược). Hiện nay, những thách thức chính mà chúng ta phải đối mặt - bùng nổ dân số, ô nhiễm, phá rừng, thiên tai - chiếm một không gian địa lý quan trọng.</p>

<p>Khi xác định một công việc kinh doanh mới (như tìm một khu đất tốt cho trồng chuối, hoặc tính toán lộ trình tối ưu cho một chuyến xe khẩn cấp), GIS cho phép tạo lập bản đồ, phối hợp thông tin, khái quát các viễn cảnh, giải quyết các vấn đề phức tạp, và phát triển các giải pháp hiệu quả mà trước đây không thực hiện được. GIS là một công cụ được các cá nhân, tổ chức, trường học, chính phủ và các doanh nghiệp sử dụng nhằm hướng tới các phương thức mới giải quyết vấn đề.</p>

<p>Lập bản đồ và phân tích địa lý không phải là kỹ thuật mới, nhưng GIS thực thi các công việc này tốt hơn và nhanh hơn các phương pháp thủ công cũ. Trước công nghệ GIS, chỉ có một số ít người có những kỹ năng cần thiết để sử dụng thông tin địa lý giúp ích cho việc giải quyết vấn đề và đưa ra các quyết định. Ngày nay, GIS là một ngành công nghiệp hàng tỷ đô la với sự tham gia của hàng trăm nghìn người trên toàn thế giới. GIS được dạy trong các trường phổ thông, trường đại học trên toàn thế giới. Các chuyên gia của mọi lĩnh vực đều nhận thức được những ưu điểm của sự kết hợp công việc của họ và GIS. GIS là một hệ thống có ứng dụng rất lớn. Từ năm 1980 đến nay đã có rất nhiều các định nghĩa được đưa ra, tuy nhiên không có định nghĩa nào khái quát đầy đủ về GIS vì phần lớn chúng đều được xây dựng trên khía cạnh ứng dụng cụ thể trong từng lĩnh vực. Có ba địnhnghĩa được dùng nhiều nhất : - GIS là một hệ thống thông tin được thiết kế để làm việc với các dữ liệu trong một hệ toạ độ quy chiếu. GIS bao gồm một hệ cơ sở dữ liệu và các phương thức để thao tác với dữ liệu đó.
</p>

<ul>
  <li><p>GIS là một hệ thống nhằm thu thập, lưu trữ, kiểm tra, tích hợp, thao tác, phân tích và hiển thị dữ liệu được quy chiếu cụ thể vào trái đất.</p></li>
  <li><p>GIS là một chương trình máy tính hỗ trợ việc thu thập, lưu trữ, phân tích và hiển thị dữ liệu bản đồ.</p></li>
</ul>

<h4>4.1.2. Lịch sử hình thành và phát triển đến nay</h4>
<p>Theo nhiều tài liệu cho thấy, lịch sử hình thành GIS không được cụ thể lắm bởi lẽ những khái niệm tương tự GIS đã tồn tại ngay từ khi xuất hiện con người, từ khi con người có nhu cầu đi lại, sinh hoạt, buôn bán,... Mặc dù vậy, sự đóng góp rất lớn và rất tích cực của Giáo sư Roger Tomlinson vào năm 1963 đã khiến thế giới phải công nhận ông chính là cha đẻ của GIS (Father of GIS).</p>

<p>Roger Tomlinson là người xây dựng Hệ thống thông tin địa lý (HTTTĐL) đầu tiên trên thế giới. Đó là Hệ thống thông tin địa lý quốc gia Canada (Canada Geographic Information System). Ngoài ra, ông còn được biết đến như là người đầu tiên đưa ra thuật ngữ GIS.</p>

<p>Chúng ta cùng nhau đi ngược lại lịch sử để thấy sự ra đời kỳ diệu của GIS. Như chúng ta cũng biết, năm 1940 ngành đồ họa máy tính (Computer Graphics) bắt đầu hình thành và phát triển. Sự khó khăn trong việc sử dụng các thiết bị kinh điển để khảo sát những bài toán phức tạp hơn đã dẫn đến hình thành ngành Bản đồ máy tính (Computer Cartographic) vào những năm 1960. Cũng thời gian này, nhiều bản đồ đơn giản được xây dựng với các thiết bị vẽ và in. Tuy nhiên, chỉ khoảng 10 năm sau, năm 1971 khi chip bộ nhớ máy tính được phổ biến, các ngành liên quan đến đồ họa trên máy tính thật sự chuyển biến và phát triển mạnh.</p>

<p>Tuy nhiên, nói đến GIS, chúng ta cũng có thể nghĩ đến việc lưu trữ và truy vấn dữ liệu, đặc biệt là dữ liệu không gian đồ sộ. Những lý thuyết và thực tế về cơ sở dữ liệu và hệ thống thông tin ra đời vào cuối những năm 60, đầu những năm 70 là một đóng góp khác cho sự ra đời của GIS.</p>

<p>Vào những năm 1950, các lực lượng quân sự bắt đầu sử dụng viễn thám môi trường (Environmental Remote Sensing) trong các công tác đặc biệt. Sự "chuyển nhượng" công nghệ viễn thám từ quân sự sang dân sự vào những năm 1960 là một động lực khác thúc đẩy GIS.</p>

<p>GIS sẽ không là GIS nếu nó không thực hiện các bài toán phân tích không gian (Spatial Analysis). Một lớp bài toán phân tích không gian kinh điển đó là chồng lớp (Overlay). Những lý luận ứng dụng đại số bản đồ (map algebra) vào những năm 60 trong các ứng dụng quy hoạch giúp bổ sung thêm một "bệ phóng" nữa cho "tên lửa" GIS.</p>

<p>Tất cả những ý tưởng trên dường như được hội tụ vào cùng một thời điểm. Roger Tomlinson là một trong những người nhạy bén đón nhận những tinh hoa đó và chuyển thành một GIS.</p>

<p>GIS ngày nay không chỉ dừng lại ở mức công nghệ mà nó đã tiến lên nhiều nấc đến khoa học (Geographic Information Science - GISci) và dịch vụ (Geographic Information Services).</p>


<h4>4.1.3. Giới thiệu mô hình công nghệ GIS:</h4>
<p>Một cách khái quát có thể hiểu một hệ GIS là một quá trình như sau:</p>
<%= image_tag ("/images/g1.jpg"), class: "img-responsive" %>
<p>Hình 4.1: Mô hình công nghệ GIS</p>

<ul>
  <li><p>Dữ liệu vào: dữ liệu được nhập từ các nguồn khác nhau như chuyển đổi giữa các cách biểu diễn dữ liệu, máy quét, hình ảnh từ vệ tinh, ảnh chụp...</p></li>
  <li><p>Quản lý dữ liệu: sau khi dữ liệu được thu thập và tổng hợp, GIS cần cung cấp các thiết bị có thể lưu và bảo trì dữ liệu nhằm đảm bảo: bảo mật số liệu, tích hợp số liệu, lọc và đánh giá số liệu, khả năng duy trì. GIS lưu thông tin thế giới thực thành các tầng dữ liệu riêng biệt, các tầng này đặt trong cùng một hệ trục toạ độ và chúng có khả năng liên kết với nhau.</p></li>
  <li><p>Xử lý dữ liệu: các thao tác xử lý dữ liệu được thực hiện để tạo ra thông tin. Nó giúp cho người sử dụng quyết định cần làm tiếp công việc gì. Kết quả của xử lý dữ liệu là tạo ra các ảnh, báo cáo và bản đồ. Phân tích và mô hình: số liệu tổng hợp và chuyển đổi chỉ là một phần của GIS. Những yêu cầu tiếp theo là khả năng giải mã và phân tích về mặt định tính và định lượng thông tin đã thu thập.</p></li>
  <li><p>Dữ liệu ra: một trong các phương diện công nghệ GIS là sự thay đổi của các phương pháp khác nhau trong đó thông tin có thể hiển thị khi nó được xử lý bằng GIS. Các phương pháp truyền thống là bảng và đồ thị có thể cung cấp bằng các bản đồ và ảnh 3 chiều.</p></li>
</ul>
