<h4>4.2.1 Phần cứng:</h4>
<p>Phần cứng là hệ thống máy tính trên đó một hệ GIS hoạt động. Ngày nay, phần mềm GIS có khả năng chạy trên rất nhiều dạng phần cứng, từ máy chủ trung tâm đến các máy trạm hoạt động độc lập hoặc liên kết mạng.</p>
<p>Là các máy tính điện tử: PC, mini Computer, MainFrame ... là các thiết bị mạng cần thiết khi triển khai GIS trên môi trường mạng. GIS cũng đòi hỏi các thiết bị ngoại vi đặc biệt cho việc nhập và xuất dữ liệu như: máy số hoá (digitizer), máy vẽ (plotter), máy quét (scanner)...</p>

<h4>4.2.2 Phần mềm:</h4>
<p>Hệ thống phần mềm GIS rất đa dạng. Mỗi công ty xây dựng GIS đều có hệ phần mềm riêng của mình. Tuy nhiên, có một dạng phần mềm mà các công ty phải xây dựng là hệ quản trị CSDL địa lý. Dạng phần mềm này nhằm mục đích nâng cao khả năng cho các phần mềm CSDL thương mại trong việc: sao lưu dữ liệu, định nghĩa bảng, quản lý các giao dịch do đó ta có thể lưu các dữ liệu đồ địa lý dưới dạng các đối tượng hình học trực tiếp trong các cột của bảng quan hệ và nhiều công việc khác.
</p>
<p>Phần mềm GIS cung cấp các chức năng và các công cụ cần thiết để lưu giữ, phân tích và hiển thị thông tin địa lý. Các thành phần chính trong phần mềm GIS là:</p>
<ul>
  <li><p>Công cụ nhập và thao tác trên các thông tin địa lý</p></li>
  <li><p>Hệ quản trị cơ sở dữ liệu(DBMS)</p></li>
  <li><p>Công cụ hỗ trợ hỏi đáp, phân tích và hiển thị địa lý</p></li>
  <li><p>Giao diện đồ hoạ người-máy (GUI) để truy cập các công cụ dễ dàng</p></li>
</ul>

<h4>4.2.3 Dữ liệu:</h4>
<p>Có thể coi thành phần quan trọng nhất trong một hệ GIS là dữ liệu. Các dữ liệu địa lý và dữ liệu thuộc tính liên quan có thể được người sử dụng tự tập hợp hoặc được mua từ nhà cung cấp dữ liệu thương mại. Hệ GIS sẽ kết hợp dữ liệu không gian với các nguồn dữ liệu khác, thậm chí có thể sử dụng DBMS (Database Management System ) để tổ chức lưu giữ và quản lý dữ liệu.</p>

<p>Một cách tổng quát, người ta chia dữ liệu trong GIS thành 2 loại:</p>
<ul>
  <li><p>Dữ liệu không gian (spatial) cho ta biết kích thước vật lý và vị trí địa lý của các đối tượng trên bề mặt trái đất.</p></li>
  <li><p>Dữ liệu thuộc tính (non-spatial) là các dữ liệu ở dạng văn bản cho ta biết thêm thông tin thuộc tính của đối tượng.</p></li>
</ul>

<h4>4.2.4 Con người:</h4>
<p>Công nghệ GIS sẽ bị hạn chế nếu không có con người tham gia quản lý hệ thống và phát triển những ứng dụng GIS trong thực tế. Người sử dụng GIS có thể là những chuyên gia kỹ thuật, người thiết kế và duy trì hệ thống, hoặc những người dùng GIS để giải quyết các vấn đề trong công việc.</p>
<p>Người dùng GIS là những người sử dụng các phần mềm GIS để giải quyết các bài toán không gian theo mục đích của họ. Họ thường là những người được đào tạo tốt về lĩnh vực GIS hay là các chuyên gia.
</p>
<p>Người xây dựng bản đồ: sử dụng các lớp bản đồ được lấy từ nhiều nguồn khác nhau, chỉnh sửa dữ liệu để tạo ra các bản đồ theo yêu cầu.</p>
<p>Người xuất bản: sử dụng phần mềm GIS để kết xuất ra bản đồ dưới nhiều định dạng xuất khác nhau.</p>
<p>Người phân tích: giải quyết các vấn đề như tìm kiếm, xác định vị trí...</p>
<p>Người xây dựng dữ liệu: là những người chuyên nhập dữ liệu bản đồ bằng các cách khác nhau: vẽ, chuyển đổi từ định dạng khác, truy nhập CSDL...</p>
<p>Người quản trị CSDL: quản lý CSDL GIS và đảm bảo hệ thống vận hành tốt.</p>
<p>Thiết kế CSDL: xây dựng các mô hình dữ liệu lôgic và vật lý.</p>
<p>Người phát triển: xây dựng hoặc cải tạo các phần mềm GIS để đáp ứng các nhu cầu cụ thể.</p>

<h4>4.2.5 Phương pháp:</h4>
<p>Một hệ GIS thành công theo khía cạnh thiết kế và luật thương mại là được mô phỏng và thực thi duy nhất cho mỗi tổ chức.</p>
