<h3>4.6.1. Thành lập bản đồ</h3>
<h4>4.6.1.1. Desktop Mapping</h4>
<p>Là desktop mapping system sử dụng bản đồ để tổ chức dữ liệu và tương tác người dùng. Trọng tâm của hệ thống này là thành lập bản đồ: bản đồ là cơ sở dữ liệu. Phần lớn các hệ thống Desktop Mapping đều hạn chế hơn so với GIS về khả năng quản lý dữ liệu, phân tích không gian và khả năng tuỳ biến. Các hệ thống Desktop mapping hoạt động trên các máy tính để bàn như PC, Macintosh, và các máy trạm UNIX nhỏ.
</p>

<h4>4.6.1.2. Mapinfo</h4>
<p>MapInfo là phần mềm bản đồ đang được sử dụng rất rộng rãi trên thị trường Việt Nam. Một điểm mạnh của MapInfo là khả năng hiển thị, giàn trang in rất tiện lợi và đây là một trong những ưu thế của MapInfo so với các phần mềm GIS khác. Giải pháp desktop của MapInfo tương đối nhỏ gọn nên MapInfo đang được chiếm ưu thế lớn ở Việt Nam, nhất là đối với những nơi tiếp cận GIS sớm, quy mô nhỏ. Ngoài các giải pháp desktop, MapInfo còn có các giải pháp mạng, Web. Tuy nhiên cũng như các giải pháp mạng và Web của các hãng khác hiện đang ít được sử dụng trên thị trường Việt Nam, vì trên thực tế thị trường này cũng mới làm quen với chúng.
</p>
<p>Những đặc điểm chính của MapInfo gồm: </p>
<ul>
  <li><p>Chạy trên các hệ điều hành: UNIX, Windows. </p></li>
  <li><p>Hỗ trợ các thiết bị: Bàn số, máy quét ảnh, chuột, các máy vẽ.</p></li>
  <li><p>Các chức năng chính: Tạo vùng đệm, phân tích bản đồ, phân tích mạng. </p></li>
  <li><p>Hệ quản trị cơ sở dữ liệu: dBase, cơ sở dữ liệu bên trong. </p></li>
  <li><p>Cấu trúc dữ liệu: Non-topological Vector, dữ liệu thuộc tính, dữ liệu bảng biểu. </p></li>
  <li><p>Đơn giản, dễ sử dụng </p></li>
  <li><p>Phù hợp với mô hình quy mô nhỏ </p></li>
  <li><p> Khả năng tạo lập bản đồ chuyên đề mạnh và phong phú (hơn hẳn các phần mềm GIS khác) </p></li>
  <li><p>Khả năng giàn trang in ,,, và in rất thuận lợi </p></li>
  <li><p> Khả năng giao tiếp với các phần mềm GIS khác tốt </p></li>
  <li><p>Cấu trúc format file mở hỗ trợ cho việc phát triển các ứng dụng chuyên sâu. </p></li>
  <li><p>Khả năng xây dựng dữ liệu bản đồ số (khía cạnh số hóa bản đồ) yếu. </p></li>
</ul>
<p>Hiện nay có 1 số phiên bản mapinfo được sử dụng khá nhiều đã được phát triển khá ổn định như phiên bản mapinfo 9.5 </p>
<br>

<h4>4.6.1.3 ArcGIS desktop:</h4>
<p>ArcGIS là dòng sản phẩm hỗ trợ trong hệ thống thông tin địa lý GIS của ESRI. Các phiên bản ban đầu là ArcInfo, được cài đặt dưới dạng DOS, ngày nay các sản phẩm này được phát triển lên nhiều phiên bản cao cấp hợp dùng chạy trên nhiều hệ điều hành khách nhau như: Windows, Unix...
</p>
<p>ArcGIS có nhiều dòng họ khác nhau như: </p>
<ul>
  <li><p>ArcGIS gồm ArcInfo, ArcEdito, ArcCatalog </p></li>
  <li><p>ArcIMS dùng để đưa dữ liệu GIS lên Web </p></li>
  <li><p>ArcPad dùng cho các thiết bị Mobile </p></li>
  <li><p>ArcSDE dùng làm cầu nối truy xuất vào các hệ quản trị cơ sở dữ liệu </p></li>
  <li><p>ArcExplore dùng truy cập nguồn dữ liệu trên Web </p></li>
  <li><p>ArcGIS server hỗ trợ các chức năng bên phía server cũng như triển khai các ứng dụng qua mạng.</p></li>
</ul>
<p>ArcGIS hỗ trợ nhiều phần mở rộng gọi là các Extension, mỗi Extension hỗ trợ một số chức năng chuyên biệt như: phân tích không gian (spatial analyst), phân tích 3D (3D analyst), phân tích mạng (Network analyst), xử lý dữ liệu, thống kê không gian...
</p>
<p>ArcGIS hỗ trợ đọc được nhiều định dạng dữ liệu khác nhau (khoảng 300 định dạng) như shapefile, geodatabase, AutoCad, Raster, Coverage,...
</p>
<p>Ngày nay ArcGIS được sử dụng rộng rãi trong các ứng dụng trong Hệ thống thông tin địa lý như quản lý Môi trường, Đất đai, Xã hội, Kinh tế...
</p>
<p>Dòng phần mềm ArcGIS du nhập vào Việt Nam từ những năm 90, sau các phần mềm GIS khác như MapInfo hay Geomedia. Tuy nhiên, do tính năng mạnh mẽ và nhiều công cụ hỗ trợ nên ArcGIS được bắt đầu sử dụng nhiều ở Việt Nam, đặc biệt với các hệ thống GIS lớn.
</p><br>

<h3>4.6.2. CAD ( trợ giúp thiết kế nhờ máy tính )</h3>
<p>Hệ thống CAD trợ giúp cho việc tạo ra các bản thiết kế xây dựng nhà và cơ sở hạ tầng. Tính năng này đòi hỏi các thành phần của những đặc trưng cố định được tập hợp để tạo nên toàn bộ cấu trúc. CAD yêu cầu một số quy tắc về việc tập hợp các thành phần và các khả năng phân tích rất giới hạn. Hệ thống CAD có thể được mở rộng để hỗ trợ bản đồ nhưng thông thường bị giới hạn trong quản lý và phân tích các cơ sở dữ liệu địa lý lớn.
</p>

<h3>4.6.3. Viễn thám và GPS ( hệ thống định vị toàn cầu)</h3>
<p>Viễn thám là ngành khoa học nghiên cứu bề mặt trái đất sử dụng kỹ thuật cảm biến như quay camera từ máy bay, các trạm thu GPS hoặc các thiết bị khác. Các thiết bị cảm biến này thu thập dữ liệu dạng ảnh và cung cấp các khả năng thao tác, phân tích và mô phỏng những ảnh này. Do thiếu các tính năng phân tích và quản lý dữ liệu địa lý, nên không thể gọi là GIS thực sự. </p>
<p><b>Hệ thống định vị toàn cầu</b> (tiếng Anh: Global Positioning System - <b>GPS</b>) là hệ thống xác định vị trí dựa trên vị trí của các vệ tinh nhân tạo. Trong cùng một thời điểm, ở một vị trí trên mặt đất nếu xác định được khoảng cách đến ba vệ tinh (tối thiểu) thì sẽ tính được tọa độ của vị trí đó. </p>
<p>GPS được thiết kế và quản lý bởi Bộ Quốc phòng Hoa Kỳ, nhưng chính phủ Hoa Kỳ cho phép mọi người trên thế giới sử dụng nó miễn phí, bất kể quốc tịch nào.</p>

<h3>4.6.4. DBMS ( hệ quản trị cơ sở dữ liệu):</h3>
<p>Hệ quản trị cơ sở dữ liệu chuyên về lưu trữ và quản lý tất cả các dạng dữ liệu bao gồm cả dữ liệu địa lý. Nhiều hệ GIS đã sử dụng DBMS với mục đích lưu trữ dữ liệu. DBMS không có các công cụ phân tích và mô phỏng như GIS.</p>

<h3>4.6.5. Internet và network computer ( mạng máy tính và truyền thông).</h3>
<p>Trong thời buổi hiện đại hóa, công nghệ máy tính và truyền thông trở nên cực kỳ giúp ích cho các dự án, các ngành , việc đưa GIS vào công nghệ máy tính và truyền thông là một bước tiến mới. Dựa vào internet, GIS được phát triển mạnh mẽ và lan rộng khắp. Trong việc tiếp cận hướng đối tượng, GIS đang có bước tiến từ cách tiếp cận cơ sở dữ liệu sang hướng tri thức nhờ internet.</p>
<p>Có thể nói trong GIS – Hệ cơ sở dữ liệu địa lý là cái hồn, còn hệ thống thông tin và mạng máy tính truyền thông là thể xác. Internet giúp GIS cao hơn, xa hơn, sâu hơn trong các lĩnh vực đời sống và công nghệ ….</p>
