<h2>4.8.1. GIS trên Internet ( ArcGIS Server )</h2>
<p>ArcGIS Server là nền tảng để xây dựng hệ thống thông tin địa lý (GIS) có quy mô lớn, trong đó các ứng dụng GIS được quản lý tập trung, hỗ trợ đa người dùng, tích hợp nhiều chức năng GIS mạnh và được xây dựng dựa trên các tiêu chuẩn công nghiệp. ArcGIS Server quản lý các nguồn dữ liệu địa lý như bản đồ, số liệu không gian …</p>
<p>Đây là một hệ thống phân phối gồm nhiều thành phần có thể triển khai trên nhiều máy khác nhau. Mỗi thành phần này nắm giữ một vai trò cụ thể trong quá trình quản lý, hoạt động hoặc ngừng hoạt động, cân bằng nguồn tài nguyên cung cấp cho một hay nhiều server. Các thành phần của ArcGIS Server bao gồm: </p>
<ul>
  <li><p>• Máy chủ GIS (GIS Server): Lưu trữ và chạy các ứng dụng server. Máy chủ GIS bao gồm một máy chủ SOM (Server Object Manager) và một hoặc nhiều máy chủ SOC khác (Server Object Containers) </p></li>
  <li><p>• Máy chủ Web (Web Server): Lưu trữ các ứng dụng và dịch vụ Web có sử dụng các thành phần chạy trên máy chủ GIS. </p></li>
  <li><p>• Trình duyệt Web: Được dùng để kết nối đến các ứng dụng Web chạy trên máy chủ Web. </p></li>
</ul>
<br>
<p>Các ứng dụng Desktop: Kết nối theo giao thức truyền dẫn siêu văn bản (HTTP) đến các dịch vụ Web chạy trên máy chủ Web hoặc kết nối trực tiếp đến máy chủ GIS thông qua môi trường mạng LAN hay WAN Những đặc điểm chính của ArcGIS Server. </p>
<br>
<h2>4.8.2 Khung GIS chuẩn.</h2>
<p>ArcGIS Server cung cấp một framework chuẩn dùng cho việc phát triển các ứng dụng trên máy chủ GIS. Bộ phần mềm GIS phổ biến nhất hiện nay (ArcView® , ArcEditorTM, ArcInfo®) cũng được xây dựng dựa trên cùng một nền tảng. ArcGIS Server không những có thể mở rộng ra mà còn cung cấp rất nhiều chức năng mạnh cho phép các lập trình viên không phải mất nhiều thời gian nghiên cứu, xây dựng các chức năng GIS từ đầu.</p>
<br>
<h2>4.8.3 Chi phí thấp.</h2>
<p>ArcGIS Server có khả năng hỗ trợ các ứng dụng lớn như xây dựng Web GIS, chạy trên nhiều máy chủ, hỗ trợ đa người dùng. Công nghệ ADF không giới hạn bản quyền. Điều này cho phép các ứng dụng server có thể chạy trên nhiều máy chủ Web, do đó làm giảm giá thành, chỉ phụ thuộc vào số lượng người dùng.</p>
<br>
<h2>4.8.4 Các ứng dụng web.</h2>
<p>ArcGIS Server cung cấp một bộ các Web controls. Các Web controls này làm đơn giản đi các công đoạn xây dựng tích hợp bản đồ vào các ứng dụng Web, giúp cho các lập trình viên tập trung vào xây dựng các chức năng GIS theo mục đích của mình.</p>
<br>
<h2>4.8.5 Các mẩu ứng dụng web.</h2>
<p>ArcGIS Server cung cấp khá nhiều mẫu ứng dụng Web. Lập trình viên có thể sử dụng những mẫu này kết hợp với các Web controls để tạo ra các ứng dụng Web theo mục đích của mình hoặc cũng có thể dùng để tham khảo.</p>
<br>
<h2>4.8.6 Hỗ trợ đa miền.</h2>
<p>ArcGIS Server ADF dành cho Java chạy trên nhiều hệ điều hành sử dụng kiến trúc của UNIX và hỗ trợ một số lượng lớn các Web server.</p>
<p>Bản thân GIS Server được hỗ trợ cho Windows, Sun Solaris và Red Hat Linux. ADF dành cho .NET chỉ chạy được trên một số hệ điều hành Windows. Tham khảo tại <a href="http://support.esri.com">http://support.esri.com</a> để biết thêm thông tin về những hệ điều hành nào được hỗ trợ.</p>
<br>
<h2>4.8.7 Hỗ trợ nhiều ngôn ngữ lập trình.</h2>
<p>ArcGIS Server hỗ trợ nhiều ngôn ngữ lập trình, bao gồm cả .NET và Java để phát triển các ứng dụng, dịch vụ Web. Sử dụng COM và .NET cho phép mở rộng ArcGIS Server các tính năng theo yêu cầu riêng, ngoài ra COM, .NET, Java, và C++ còn được dùng để xây dựng các ứng dụng Desktop client. Điều này cho phép các đối tượng được lập trình bằng nhiều công cụ và các lập trình viên không nhất thiết phải biết nhiều ngôn ngữ lập trình.</p>
<br>
<h2>4.8.8 Các phần mở rộng của Arc GIS server.</h2>
<p>Bộ công cụ cho lập trình viên sử dụng ArcGIS Server còn kèm theo các chức năng mở rộng của ArcGIS 3D AnalystTM, ArcGIS Spatial Analyst và ArcGIS StreetMapTM.</p>
<br>
<h2>4.8.9 Cung cấp nhiều tài nguyên cho các lập trình viên.</h2>
<p>Bộ công cụ phát triển ArcGIS Server cung cấp một hệ thống trợ giúp dựa theo các sơ đồ mô hình đối tượng (OMDs), các mẫu ứng dụng Web và cả các đoạn mã lập trình mẫu giúp cho các lập trình viên dễ dàng tiếp cận, sử dụng. <strong>Tại sao sử dụng ArcGIS Server</strong> ArcGIS Server cho phép các lập trình viên và các nhà thiết kế hệ thống triển khai quản lý tập trung GIS. Điều này sẽ làm giảm bớt giá thành cho những người sử dụng GIS và có thể mở rộng khả năng hỗ trợ người dùng, tiết kiệm giá thành cài đặt phần mềm trên từng máy. Cùng với khả năng hỗ trợ với các dịch vụ Web, ArcGIS Server có thể tích hợp lý tưởng với các hệ thống thông tin khác như các cơ sở dữ liệu quan hệ, các máy chủ Web, và các máy chủ lớn. ArcGIS Server được bổ sung thêm vào gia đình sản phẩm các ứng dụng chạy trên server của ESRI đó là ArcIMS, ArcSDE, và ArcGIS Server. ArcIMS cho phép xuất bản các bản đồ và metadata dựa trên nền Web rất tốt, ArcGIS Server quản lý tập trung các ứng dụng GIS cao cấp. ArcSDE quản lý truy cập dữ liệu dành cho ArcGIS Server và ArcIMS <strong>Những ai sử dụng ArcGIS Server?</strong> • Nhóm sử dụng các ứng dụng Web: Nhóm người này chỉ cần có trình duyệt Web là có thể kết nối và tương tác với các dịch vụ, ứng dụng Web GIS mà không đòi hỏi phải biết về GIS. • Nhóm phát triển các ứng dụng và dịch vụ Web : Sử dụng ADF để xây dựng các ứng dụng và dịch vụ Web dựa trên nền .NET hoặc Java. Xây dựng các ứng dụng Web dành cho người dùng ArcGIS Desktop kết nối đến qua mạng Internet, tích hợp các chức năng của GIS và có thể được sử dụng trong các chương trình khác. • Nhóm sử dụng các sản phẩm ArcGIS Desktop : Nhóm người này có thể dùng các phần mềm ArcMap hay ArcCatalog kết nối và tải dữ liệu từ máy chủ qua mạng LAN hay Internet. Thiết kế và xây dựng dữ liệu cho các ứng dụng của ArcGIS Server. • Nhóm phát triển ArcGIS Desktop, ArcGIS Engine : Nhóm người này có thể phát triển các ứng dụng có khả năng kết nối đến GIS server và chạy các thành phần ArcObject trên server. Cho phép tích hợp các chức năng trên desktop với các chức năng trên server. Nhóm quản lý server: Nhóm này sử dụng ArcCatalog kết nối đến máy chủ qua mạng nội bộ, quản lý server cũng như các ứng dụng chạy trên server, thêm hoặc gỡ bỏ các máy con vào hệ thống, phân quyền truy cập và sử dụng dữ liệu…</p>
