<% provide :title, "5.1 Thực hành office và xử lý Excel thống kê" %>
<h4>Tìm hiểu về office :</h4>
<ul>
  <li><p><b>Microsoft Office</b> là một bộ phần mềm văn phòng dành cho máy tính cá nhân, máy chủ và là các dịch vụ chạy trên hệ điều hành Microsoft Windows. Office được giới thiệu lần đầu vào ngày 1 tháng 8 năm 1989, được tiếp thị như tên của một gói các ứng dụng, phiên bản đầu tiên bao gồm Microsoft Word, Microsoft Excel và Microsoft Powerpoint. Office hiện được hơn một tỷ người sử dụng trên thế giới. Phiên bản hiện tại là Office 365 dành cho Windows 10, được phát hành vào ngày 22 tháng 9 năm 2015.
</p></li>
</ul>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= image_tag ("/images/do1.png"), class: "img-responsive" %>
  </div>
</div>

<h4>Tìm hiểu về các ứng dụng của excel :</h4>
<ul>
  <li><p><b>Microsoft Excel</b> là chương trình xử lý bảng tính nằm trong bộ Microsoft Office của hãng phần mềm Microsoft được thiết kế để giúp ghi lại, trình bày các thông tin xử lý dưới dạng bảng, thực hiện tính toán và xây dựng các số liệu thống kê trực quan có trong bảng từ Excel. Cũng như các chương trình bảng tính Lotus 1-2-3, Quattro Pro… bảng tính của Excel cũng bao gồm nhiều ô được tạo bởi các dòng và cột, việc nhập dữ liệu và lập công thức tính toán trong Excel cũng có những điểm tương tự, tuy nhiên Excel có nhiều tính năng ưu việt và có giao diện rất thân thiện với người dùng.
</p></li>
</ul>
<p>Tìm hiểu cách để thống kê thông tin trong excel.</p>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= image_tag ("/images/do2.jpg"), class: "img-responsive" %>
  </div>
</div>
