<h4>Tìm hiểu về cơ sở dữ liệu :</h4>
<p>là một tập hợp thông tin có cấu trúc. Tuy nhiên, thuật ngữ này thường dùng trong công nghệ thông tin và nó thường được hiểu rõ hơn dưới dạng một tập hợp liên kết các dữ liệu, thường đủ lớn để lưu trên một thiết bị lưu trữ như đĩa hay băng. Dữ liệu này được duy trì dưới dạng một tập hợp các tập tin trong hệ điều hành hay được lưu trữ trong các hệ quản trị cơ sở dữ liệu.</p>
<p>Ưu điểm:</p>
<ul>
  <li><p>Giảm sự trùng lặp thông tin xuống mức thấp nhất. Do đó đảm bảo thông tin có tính nhất quán và toàn vẹn dữ liệu.
  </p></li>
  <li><p>Đảm bảo dữ liệu có thể được truy xuất theo nhiều cách khác nhau.
  </p></li>
  <li><p>Nhiều người có thể sử dụng một cơ sở dữ liệu
  </p></li>
</ul>
<br>

<p>Nhược điểm:</p>
<p>Tính chủ quyền của dữ liệu: </p>
<ul>
  <li><p>Thể hiện ở phương diện an toàn dữ liệu.</p></li>
  <li><p>Khả năng biểu diễn mỗi liên hệ ngữ nghĩa của dữ liệu và tính chính xác của dữ liệu.</p></li>
  <li><p>Người khai thác cơ sở dữ liệu phải cập nhật cho CSDL những thông tin mới nhất.</p></li>
  <li><p> Tính bảo mật và quyền khai thác thông tin của người sử dụng:</p></li>
  <li>
    <ul>
      <li><p>Do ưu điểm CSDL có thể cho nhiều người khai thác đồng thời. nên cần phải có một cơ chế bảo mật phân quyền khai thác CSDL.</p></li>
      <li><p>Các hệ điều hành nhiều người sử dụng hay cục bộ đều cung cấp cơ chế này.</p></li>
    </ul>
  </li>
</ul><br>

<p>Tranh chấp dữ liệu:</p>
<ul>
  <li><p>Khi nhiều người cùng truy nhập CSDL với các mục đích khác nhau. Rất có thể sẽ xảy ra hiện tượng tranh chấp dữ liệu.</p></li>
  <li><p>Cần có cơ chế ưu tiên khi truy cập CSDL. Ví dụ: admin luôn có thể truy cập cơ sở dữ liệu.</p></li>
  <li><p>Cấp quyền ưu tiên cho từng người khai thác.</p></li>
  <li>
    <p>Cần đảm bảo an toàn dữ liệu khi có sự cố:</p>
    <ul>
      <li><p>Khi CSDL nhiều và được quản lý tập trung. Khả năng rủi ro mất dữ liệu rất cao. Các nguyên nhân chính là mất điện đột ngột hoặc hỏng thiết bị lưu trữ.</p></li>
      <li><p>Hiện tại có một số hệ điều hành đã có cơ chế tự động sao lưu ổ cứng và fix lỗi khi có sự cố xảy ra.</p></li>
      <li><p>Tuy nhiên nên sao lưu dự phòng cho dữ liệu đề phòng trường hợp xấu xảy ra.</p></li>
    </ul>
  </li>
</ul>
<br>

<h4>Xây dựng cơ sở dữ liệu.</h4>
