<h4><strong>Tìm hiểu về GIS :</strong></h4>
<p><b>Hệ thống thông tin địa lý</b> (Geographic Information System - gọi tắt là <b>GIS</b>) được hình thành vào những năm 1960 và phát triển rất rộng rãi trong 10 năm lại đây. GIS ngày nay là công cụ trợ giúp quyết định trong nhiều hoạt động kinh tế - xã hội, quốc phòng của nhiều quốc gia trên thế giới. GIS có khả năng trợ giúp các cơ quan chính phủ, các nhà quản lý, các doanh nghiệp, các cá nhân... đánh giá được hiện trạng của các quá trình, các thực thể tự nhiên, kinh tế - xã hội thông qua các chức năng thu thập, quản lý, truy vấn, phân tích và tích hợp các thông tin được gắn với một nền hình học (bản đồ) nhất quán trên cơ sở toạ độ của các dữ liệu đầu vào.
</p>

<h4><strong>Thực hành để làm quen với GIS :</strong></h4>
<ul>
  <li><p>Khi xây dựng một hệ thống GIS ta phải quyết định xem GIS sẽ được xây dựng theo mô hình ứng dụng nào, lộ trình và phương thức tổ chức thực hiện nào. Chỉ trên cơ sở đó người ta mới quyết định xem GIS định xây dựng sẽ phải đảm đương các chức năng trợ giúp quyết định gì và cũng mới có thể có các quyết định về nội dung, cấu trúc các hợp phần còn lại của hệ thống cũng như cơ cấu tài chính cần đầu tư cho việc hình thành và phát triển hệ thống GIS. Với một xã hội có sự tham gia của người dân và quá trình quản lý thì sự đóng góp tri thức từ phía cộng đồng đang ngày càng trở nên quan trọng và càng ngày càng có vai trò không thể thiếu.</p></li>
  <li><p>Hệ thống thông tin địa lý là hệ thống quản lý, phân tích và hiển thị tri thức địa lý, tri thức này được thể hiện qua các tập thông tin:
    Các bản đồ: giao diện trực tuyến với dữ liệu địa lý để tra cứu, trình bày kết quả và sử dụng như là một nền thao tác với thế giới thực.
    Các tập thông tin địa lý: thông tin địa lý dạng file và dạng cơ sở dữ liệu gồm các yếu tố, mạng lưới, topology, địa hình, thuộc tính.
  Các mô hình xử lý: tập hợp các quy trình xử lý để phân tích tự động.</p></li>
</ul>
<br>
<p>Các mô hình dữ liệu: GIS cung cấp công cụ mạnh hơn là một cơ sở dữ liệu thông thường bao gồm quy tắc và sự toàn vẹn giống như các hệ thông tin khác. Lược đồ, quy tắc và sự toàn vẹn của dữ liệu địa lý đóng vai trò rất quan trọng.</p>
<p>Metadata: hay tài liệu miêu tả dữ liệu, cho phép người sử dụng tổ chức, tìm hiểu và truy nhập được tới tri thức địa lý.</p>
