<% provide :title, "2.1 Định nghĩa cơ sở dữ liệu (Database)" %>
<ul>
  <li><p>Cơ sở dữ liệu là một hệ thống các thông tin có cấu trúc được lưu trữ trên các thiết bị như bang từ, đĩa từ,…để có thể thỏa mãn nhu cầu khai thác thông tin của người sử dụng.</p></li>
  <li><p>Cơ sở dữ liệu gắn liền với đại số, logic toán và một số lĩnh vực khác.</p></li>
</ul>

<%= image_tag ('/images/db.png'), class: 'img-responsive' %>
<p class="text-center">Hình 1: Mô Hình khái quát CSDL</p>
