<% provide :title, "2.4 Những vấn đề mà CSDL cần giải quyết" %>
<ul>
  <li><p>Tính chủ quyền của dữ liệu.</p></li>
  <li><p>Tính bảo mật và quyền khai thác thông tin của người sử dụng.</p></li>
  <li><p>Tranh chấp dữ liệu.</p></li>
  <li><p>Đảm bảo an toàn dữ liệu khi có sự cố.</p></li>
</ul>
