<% provide :title, "2.6 Hệ quản trị CSDL" %>
<h4>Mỗi hệ quản trị cơ sở dữ liệu đều được cài mặt dựa trên một mô hình cụ thể. Dù là dựa trên mô hình nào, một hệ quản trị CSDL cung bao gồm: </h4>
<ul>
  <li><p>Ngôn ngữ giao tiếp giữa người sử dụng và CSDL.</p></li>
  <li><p>Tử điển dữ liệu.</p></li>
  <li><p>Cơ chế giải quyết vấn đề tranh chấp dữ liệu.</p></li>
  <li><p>Hệ quản trị CSDL phải có cơ chế sao lưu (backup) và phục hồi (restore) dữ liệu khi sự cố xảy ra.</p></li>
  <li><p>Hệ quản trị CSDL phải cung cấp một giao diện thân thiện, dễ sử dụng.</p></li>
</ul>
