<h2>Tập tin (File)</h2>
<%= image_tag ('/images/db2.png'), class: 'img-responsive' %>
<p class="text-center">Hình 2: Minh họa cấu trúc tập tin</p>

<ul>
  <h4>Hạn chế:</h4>
  <li><p>Dữ liệu bị trùng lặp và dư thừa</p></li>
  <li><p>Thiếu tính nhất quán giữa các dữ liệu</p></li>
  <li><p>Khó khan trong việc truy xuất</p></li>
  <li><p>Việc chia sẻ dữ liệu bị hạn chế</p></li>
  <li><p>Khó khôi phục</p></li>
</ul>

<h2>Cơ sở dữ liệu (Database)</h2>
<%= image_tag ('/images/db3.png') %>
<p class="text-center">Hình 3: Minh họa cấu trúc CSDL</p>
