<ul>
  <li><p>Giảm sự trùng lặp thông tin xuống mức thấp nhất, đảm bảo được tính nhất quán và toàn vẹn dữ liệu.</p></li>
  <li><p>Đảm bảo dữ liệu có thể truy xuất theo nhiều cách khác nhau.</p></li>
  <li><p>Khả năng chia sẻ thông tin cho nhiều người sử dụng.</p></li>
</ul>
