<% provide :title, "2.5 Các đối tượng sử dụng csdl" %>
<ul>
  <li><p>Những người sử dụng CSDL không chuyên về lĩnh vực tin học và CSDL.</p></li>
  <li><p>Các chuyên viên cơ sở dữ liệu biết khai thác CSDL. Những người này có thể xây dựng các ứng dụng khác nhau, phục vụ các mục đích khác nhau trên CSDL.</p></li>
  <li><p>Những người quản trị CSDL, đó là những người hiểu biết về tin học, về hệ quản trị CSDL và hệ thống máy tính.</p></li>
</ul>
