<% provide :title, "2.8 Các ứng dụng của CSDL" %>
<ul>
  <li>
    <h4>Định nghĩa cấu trúc</h4>
    <p>Khai báo tập tin hay quan hệ + kiểu dữ liệu.</p>
  </li>
  <li>
    <h4>Cập nhật dữ liệu</h4>
    <p>nhập dữ liệu liên quan.</p>
  </li>
  <li>
    <h4>Truy vấn</h4>
  </li>
  <li>
    <h4>Báo cáo</h4>
    <p>in ra tài liệu, cấu trúc bảng theo định dạng văn bản …</p>
  </li>
  <li>
    <h4>Thêm xóa sửa dữ liệu.</h4>
  </li>
  <li>
    <h4>Cập nhật cấu trúc lược đồ.</h4>
  </li>
</ul>
