<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Hệ thống Cơ sở dữ liệu đô thị Quốc gia</h3>
    </div>

    <ul class="list-unstyled">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">1. Kiến thức cơ bản về máy tính</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="#">1.1 Tìm hiểu về máy tính</a></li>
                <li><a href="#">1.2 Hệ điều hành Windows</a></li>
                <li><a href="#">Home 3</a></li>
            </ul>
        </li>

        <li>
            <a href="#intro" data-toggle="collapse" aria-expanded="false">2. Giới thiệu cơ sở dữ liệu</a>
            <ul class="collapse list-unstyled" id="intro">
                <li><a href="#">2.1 Định nghĩa cơ sở dữ liệu (Database)</a></li>
                <li><a href="#">2.2 Quá trình phát triển CSDL</a></li>
                <li><a href="#">2.3 Ưu điểm của CSDL</a></li>
                <li><a href="#">2.4 Những vấn đề mà CSDL cần giải quyết</a></li>
                <li><a href="#">2.5 Các đối tượng sử dụng csdl</a></li>
                <li><a href="#">2.6 Hệ quản trị CSDL</a></li>
                <li><a href="#">2.7 Kiến trúc của hệ quản trị CSDL</a></li>
                <li><a href="#">2.8 Các ứng dụng của CSDL</a></li>
            </ul>
        </li>

        <li>
            <a href="#data" data-toggle="collapse" aria-expanded="false">3. Kiến thức thống kê</a>
            <ul class="collapse list-unstyled" id="data">
                <li><a href="#">3.1 Thống kê là gì</a></li>
                <li><a href="#">3.2 Chức năng của thống kê</a></li>
                <li><a href="#">3.3 Phương pháp thống kê</a></li>
                <li><a href="#">3.4 Giới thiệu các công cụ thống kê: thống kê bằng excel</a></li>
            </ul>
        </li>

        <li>
            <a href="#gis" data-toggle="collapse" aria-expanded="false">4. Kiến thức GIS</a>
            <ul class="collapse list-unstyled" id="gis">
                <li><a href="#">4.1 Giới thiệu</a></li>
                <li><a href="#">4.2 Các thành phần của GIS</a></li>
                <li><a href="#">4.3 Cách thức làm việc của GIS</a></li>
                <li><a href="#">4.4 Nhiệm vụ của GIS</a></li>
                <li><a href="#">4.5 Dữ liệu cho GIS</a></li>
                <li><a href="#">4.6 Các công nghệ liên quan</a></li>
                <li><a href="#">4.7 Các bài toán ứng dụng cho GIS</a></li>
                <li><a href="#">4.8 Phát triển GIS trong ứng dụng tương lai</a></li>
            </ul>
        </li>

        <li>
            <a href="#do" data-toggle="collapse" aria-expanded="false">5. Các phần thực hành</a>
            <ul class="collapse list-unstyled" id="do">
                <li><a href="#">5.1 Thực hành office và xử lý Excel thống kê</a></li>
                <li><a href="#">4.2 Thực hành xây dựng cơ sở dữ liệu</a></li>
                <li><a href="#">5.3 Thực hành để làm quen với GIS</a></li>
            </ul>
        </li>
    </ul>
</nav>
